---
- name: Check if Apache is installed (Debian/Ubuntu)
  ansible.builtin.stat:
    path: /usr/sbin/apache2
  register: apache2_check

- name: Check for HTTPD (RHEL/CentOS)
  ansible.builtin.stat:
    path: /usr/sbin/httpd
  register: httpd_check

- name: Set a fact if Apache/httpd is installed
  ansible.builtin.set_fact:
    apache_is_installed: "{{ apache2_check.stat.exists or httpd_check.stat.exists }}"

- name: Debug Apache installation status
  ansible.builtin.debug:
    msg: "Apache is installed: {{ apache_is_installed }}"
