---
- name: Install Apache PHP module
  ansible.builtin.apt:
    name: libapache2-mod-php{{ php_version }}
    state: present

- name: Enable PHP configure in Apache
  ansible.builtin.command: a2enconf php{{ php_version }}-fpm
  notify: restart apache2

- name: Enable PHP module in Apache
  community.general.apache2_module:
    name: php{{ php_version }}
    state: present
  notify: restart apache2
