---
- name: Download IonCube Loader
  ansible.builtin.unarchive:
    src: "https://downloads.ioncube.com/loader_downloads/ioncube_loaders_lin_x86-64.tar.gz"
    dest: /tmp/
    mode: "0644"
    remote_src: true

- name: Get PHP extension directory
  ansible.builtin.shell: php -i | grep "^extension_dir" | awk '{ print $3 }'
  register: php_extenstion_dir
  changed_when: false

- name: Copy IonCube Loader to PHP extension directory
  ansible.builtin.copy:
    src: "/tmp/ioncube/ioncube_loader_lin_{{ php_version }}.so"
    dest: "{{ php_extenstion_dir.stdout }}/ioncube_loader_lin_{{ php_version }}.so"
    remote_src: true

- name: Prepend IonCube Loader as the first zend_extension
  ansible.builtin.lineinfile:
    path: "/etc/php/{{ php_version }}/{{ item }}/php.ini"
    line: "zend_extension = {{ php_extenstion_dir.stdout }}/ioncube_loader_lin_{{ php_version }}.so"
    insertbefore: "^\\;zend_extension"
  loop: [cli, fpm, apache2]
  notify: restart php-fpm
