---
- name: Install required modules for CMS
  ansible.builtin.apt:
    name:
      - php{{ php_version }}-imagick
      - php{{ php_version }}-mysql
      - php{{ php_version }}-pgsql
      - php{{ php_version }}-xml
      - php{{ php_version }}-zip
      - php{{ php_version }}-gd