---
- name: Install PHP
  ansible.builtin.include_tasks: install_php.yml
  when: php_version is defined
  tags: [php]

- name: Check if Apache is installed
  ansible.builtin.stat:
    path: /usr/sbin/apache2
  register: apache_installed
  changed_when: false
  failed_when: false

- name: Install Apache PHP module
  ansible.builtin.include_tasks: install_apache_mod.yml
  when: apache_enable_mod | default(false) and apache_installed.stat.exists
  tags: [apache, php]

- name: Install IonCube extension
  ansible.builtin.include_tasks: install_ioncube.yml
  when: ioncube | default(false)
  tags: [ioncube, php]
