---
- name: Install PHP
  include_tasks: install_php.yml
  when: php_version is defined
  tags: php

- name: Install Apache PHP module
  include_tasks: install_apache_mod.yml
  when: install_apache_mod
  tags: [apache, php]

- name: Install IonCube extension
  include_tasks: install_ioncube.yml
  when: install_ioncube
  tags: [ioncube, php]

- name: Install PHP modules for CMS
  include_tasks: install_cms_mods.yml
  when: cms_extensions
  tags: [wordpress, joomla, cms, php]