---
- name: Install PHP
  include_tasks: install_php.yml
  when: install_php | default(true)

- name: Install Apache PHP module
  include_tasks: install_apache_module.yml
  when: install_apache_mod | default(false)

- name: Install IonCube extension
  include_tasks: install_ioncube.yml
  when: install_ioncube | default(false)

