---
- name: Download joomla
  ansible.builtin.include_role:
    name: webapp
  vars:
    app_name: "Joomla"
    app_install_dir: "/var/www/joomla"
    app_download_url: "https://downloads.joomla.org/cms/joomla6/6-0-1/Joomla_6-0-1-Stable-Full_Package.zip"
    app_check_file: "installation/index.php"
