---
- name: Install PHP extensions
  ansible.builtin.apt:
    name:
      - php{{ php_version }}-imagick
      - php{{ php_version }}-mysql
      - php{{ php_version }}-pgsql
      - php{{ php_version }}-xml
      - php{{ php_version }}-zip
      - php{{ php_version }}-gd
    state: present
  tags: [php]
  when: php_version is defined

- name: Install WordPress
  ansible.builtin.include_tasks: wordpress.yml
  when: wordpress | default(false)

- name: Install Joomla
  ansible.builtin.include_tasks: joomla.yml
  when: joomla | default(false)