---
- name: Install MariaDB packages
  ansible.builtin.package:
    name:
      - mariadb-server
      - mariadb-client
      - python3-pymysql
    state: present

- name: Start and enable MariaDB service
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: true
